.App {
  text-align: center;
}
/*
::-webkit-scrollbar {
  display: none;
} */
.simplebar-scrollbar {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.simplebar-scrollbar:before {
  background-color: #888888 !important;
  top: -10px !important;
  left: 0px !important;
  opacity: 1 !important;
  width: 3px;
}

.lore_scrollbar: {
  display: flex;
  justify-content: center;
  margin-top: 0px;
}

.simplebar-track.simplebar-vertical {
  background-color: black;
  top: 10px !important;
  width: 3px !important;
}

.lore_track: {
  background-color: black;
  top: 0px !important;
}

.wallet-adapter-button.wallet_button {
  font-size: 16px;
  background-color: transparent;
  border: 1px solid #F6F6F6;
  color: #F6F6F6;
}

.wallet-adapter-button.disconnect_button {
  font-size: 16px;
  background-color: transparent;
  border: 1px solid #F6F6F6;
  color: #F6F6F6;
}

.MuiButtonBase-root.MuiButton-root.Mui-disabled{
  background-color: #888888;
}

.animate__animated.animate__fadeIn {
  animation-duration: 2s;
}

/* .text_fadeIn_3seconds {
  animation-delay: 3s;
}

.text_fadeIn_4seconds {
  animation-delay: 4s;
} */

@media screen and (max-width: 2400px): {
  .wallet-adapter-button.wallet_button {
    font-size: 26px;
  }
}

@media screen and (max-width: 2100px): {
  .wallet-adapter-button.wallet_button {
    font-size: 22px;
  }
}
