.App {
  text-align: center;
}
/*
::-webkit-scrollbar {
  display: none;
} */
.simplebar-scrollbar {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.simplebar-scrollbar:before {
  background-color: #888888 !important;
  top: -10px !important;
  left: 0px !important;
  opacity: 1 !important;
  width: 3px;
}

.simplebar-track.simplebar-vertical {
  background-color: black;
  top: 10px !important;
  width: 3px !important;
}

.wallet-adapter-button.wallet_button {
  font-size: 16px;
  background-color: transparent;
  border: 1px solid #F6F6F6;
  color: #F6F6F6;
}

.wallet-adapter-button.disconnect_button {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid #F6F6F6;
  color: #F6F6F6;
}

@media screen and (max-width: 2400px): {
  .wallet-adapter-button.wallet_button {
    font-size: 26px;
  }
}

@media screen and (max-width: 2100px): {
  .wallet-adapter-button.wallet_button {
    font-size: 22px;
  }
}
